.active-list {
  transition: 500ms;
  color: black;
  border: 2px solid lightsteelblue;
  border-bottom: 4px solid green;
  max-width: 100px;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
  cursor: pointer;
}

.active-list_open {
  border-bottom: 4px solid red;
}

.overflow {  
  position: relative;
  overflow: hidden;
  transition: height 500ms;
  height: 0px; 
}

.overflow-active {   
  height: 100%;    
}

li {
  list-style-type: none;
  color: black;
  border: 2px solid lightsteelblue;
  max-width: 100px;
  border-radius: 5px;
  margin: 4px;
  text-align: center;
}

.hiden {  
  position: relative;
  top: -200px;  
  transition: 500ms;  
}

.visible {   
  top: 0
}